
  
  
  
  .user {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-sm);
    
  
   
  }
  
  
  
  
  
  
  
    